.aboutContainer, p {
    text-align: center;
}

img {
    max-width: 400px;
}

mat-card { 
    max-width: 400px;
    display: inline-block;
    margin: 20px;
    position: center;
}

.about {
    background-color: #ce93d8; 
    color: #fff;
}