img {
    max-width: 400px;
    max-width: 400px;
}

mat-card { 
    max-width: 400px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px auto;
    position: center;
}

.about {
    background-color: #ce93d8; 
    color: #fff;
}

p {
    text-align: center;
}