.aboutContainer, p {
    text-align: center;
}

img {
    max-width: 400px;
}

mat-card { 
    max-width: 400px;
    display: inline-block;
    margin: 20px;
    position: center;
}

.about {
    background-color: #ce93d8; 
    color: #fff;
}

@media screen and (max-width: 410px){
    mat-card {
        max-width: 200px;
    }
    img {
        max-width: 200px;
    }
}