<mat-card>
  <mat-card-content>
      <img src="/assets/suki.jpg">
  </mat-card-content>
</mat-card>
<mat-card class="about">
  <mat-card-content>
    <p>
      When I was an art student I did not understand what painting meant to me. I just painted because I found it easy. After completing College, I took a break to raise my daughter and immersed myself again after she started to attend school.
    </p>
    <p>
      In my late 40s, I continued to study under a wide range of artists while learning different styles and directions. Now I am comfortable working with most resources.
    </p> 
    <p>
      My future work will utilize more creativity while still allowing me to express my feelings using a wide variety of subject matter. 
    </p>
    <p>
      I am excited...
    </p>
      
  </mat-card-content>
</mat-card>