<div>
<mat-sidenav-container>
    <mat-sidenav position="end" mode="side" #sidenav>
    <mat-tab-group>
      <mat-tab label="details">
        <p><b>Name:</b> {{currentImg.title}}</p>
        <p><b>Size:</b> {{currentImg.size}}</p>
        <p><b>Price:</b> {{currentImg.price}}</p>
        <button mat-raised-button (click)="sidenav.close()" color="accent">CLOSE</button>
      </mat-tab>
      <mat-tab label="other">
        Other details about the photo can be included here.
      </mat-tab>
    </mat-tab-group>
    </mat-sidenav>

    <mat-grid-list cols="4" rowHeight="200px">
        <mat-grid-tile *ngFor="let img of imgs" [rowspan]="img.rows">
            <img src="assets/{{img.id}}.jpg" alt="art piece | {{img.title}}">
            <mat-grid-tile-footer>
                <h3 mat-line>{{img.title}}</h3>
                <span mat-line>{{img.price}}</span>
                <button mat-icon-button (click)="showArt(img)">
                    <mat-icon>info</mat-icon>
                </button>
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-container>
</div>