.mat-toolbar {
    font-size: 12px;
    font-weight: 200;
    position: fixed;
    bottom: 0;
}

a {
    margin: 0 0 0 auto;
    text-decoration: none;
    color: black;
}

i {
    font-size: 30px;
    color: #ce93d8;
    margin: 0 5px;
}