mat-grid-list {
    max-width: 1403px;
    margin: 10px;
}

img {
    background-size: cover;
    height: 100%;
}

mat-sidenav-container {
    height: 100vh;
}

mat-sidenav {
    width: 320px;
}

[mat-raised-button] {
    width: 100%;
}

p {
    margin: 16px;
}