.textCard { 
    max-width: 275px;
    text-align: center;
    margin: 20px auto;
    background-color: #ce93d8; 
    color:#fff
}

mat-grid-list {
    max-width: 1403px;
    margin: 10px;
}

mat-grid-tile {
    text-align: center;
}

img {
    background-size: cover;
    width: 100%;
}