.homeContainer {
    background: url('/assets/suki-bg.jpg');
    margin: 20px;
    background-size: cover;
    background-position: 70% 60%;
    min-height: 500px;
}

.welcomeText {
    color: #FFF;
    padding: 20px;
    width: 70%;
}